    <head>
        <meta charset="UTF-8    " />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Ticker Find</title>
        <link  rel="stylesheet" href="static/index.css"></link>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script id="testData" type="application/json">
      </script>        
    </head>

    <body>
          <form id="search-form">
            <div class="input-container">
                <span class="search-icon material-icons">search</span>
                <input
                    class="search-input"
                    name="ticker"
                    type="text"
                    placeholder="Enter Stock Ticker Symbol"
                    autofocus
                    required
                />
                <button type='reset' class="reset-btn "  >
                    <span class="material-icons">close</span>
                </button>
            </div>
        </form>

        <!-- beginning of the details section -->

<div id="stock-detail-section" class="none">
        <ul class="tabs">    
            <li data-tab-target="#company" class="active tab">Company</li>    
            <li data-tab-target="#summary" class="tab">Stock Summary</li>    
            <li data-tab-target="#charts" class="tab">Charts</li>   
            <li data-tab-target="#news" class="tab">Latest News</li>   
          </ul> 
          
          <div class="tab-content">    
            <div id="company" data-tab-content class="active">    
              
              <div class="tab1-container" id="company-container">
              <!-- section added in javascript -->
               
                
              </div> 
                
            </div>
         
            <div id="summary" data-tab-content>  
              
              <div class="tab1-container" id="summary-container">
              <!-- section added in javascript -->
              </div>
            </div>
          
            <div id="charts" data-tab-content>    
              
              <div id="chart-container"></div>
            </div> 
            <div id="news" data-tab-content>    
             
              <div class="news-container" id="news-container">
              <div class="news-card">
              <img src="https://finnhub.io/api/logo?symbol=TSLA" alt="">
              <ul><li class="news-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam vero architecto et?</li>
              <li class="time">some time ago</li>
              <li> <a class="original-post"href="#">See original post</a> </li>
              </ul>
              </div>
            </div>
          </div>
      
            </div> 
          </div>
          <script src="https://code.highcharts.com/stock/highstock.js"></script>
          <script src="https://code.highcharts.com/stock/modules/data.js"></script>
          <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
          <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
          <script src="static/index.js
          "></script>
      
    </body>